<div class="logo-container-small">
  <img src="assets/logo.png" alt="RecycleIT" class="logo">
</div>
<div class="menu-container">
  <div class="menu-item">
    <img src="assets/camera.png" alt="Camera" class="icon">
    <div class="noto-sans-text-style text">Scan waste</div>
  </div>

  <div class="menu-item">
    <img src="assets/history.png" alt="History" class="icon">
    <div class="noto-sans-text-style text">Last Scans</div>
  </div>

  <div class="menu-item">
    <img src="assets/pin.png" alt="Waste collection centers" class="icon">
    <div class="noto-sans-text-style text">Waste collection centers</div>
  </div>

  <div class="menu-item">
    <img src="assets/badge.png" alt="Badge" class="icon">
    <div class="noto-sans-text-style text">Level and Badges</div>
  </div>

  <div class="menu-item">
    <img src="assets/statistics.png" alt="Statistics" class="icon">
    <div class="noto-sans-text-style text">Statistics</div>
  </div>

  <div class="menu-item">
    <img src="assets/settings.png" alt="Settings" class="icon">
    <div class="noto-sans-text-style text">Settings</div>
  </div>

  <div class="menu-item">
<!--    <img src="assets/logout.png" alt="Logout" class="icon">-->
    <div class="noto-sans-text-style text">Logout</div>
  </div>
</div>
