<div class="container">
  <app-navbar></app-navbar>

  <div class="menu-container">
    <div class="menu-item" (click)="onCameraClick(fileInput)">
      <img src="assets/camera.png" alt="Camera" class="icon">
      <div class="noto-sans-text-style text">Scan waste</div>
    </div>
    <input type="file" accept="image/*" capture="environment" (change)="onFileChange($event)" #fileInput style="display: none;">
    <img *ngIf="photo" [src]="photo" alt="Captured Photo" class="captured-photo">

    <div class="menu-item" (click)="onLastScansClick()">
      <img src="assets/history.png" alt="History" class="icon">
      <div class="noto-sans-text-style text">Last Scans</div>
    </div>

    <div class="menu-item">
      <img src="assets/pin.png" alt="Waste collection centers" class="icon">
      <div class="noto-sans-text-style text">Waste collection centers</div>
    </div>

    <div class="menu-item" (click)="onLevelAndBadgesClick()">
      <img src="assets/badge.png" alt="Badge" class="icon">
      <div class="noto-sans-text-style text">Level and Badges</div>
    </div>

    <div class="menu-item">
      <img src="assets/statistics.png" alt="Statistics" class="icon">
      <div class="noto-sans-text-style text">Statistics</div>
    </div>

    <div class="menu-item">
      <img src="assets/settings.png" alt="Settings" class="icon">
      <div class="noto-sans-text-style text">Settings</div>
    </div>

    <div class="menu-item" (click)="onLogoutClick()">
      <img src="assets/logout.png" alt="Logout" class="icon">
      <div class="noto-sans-text-style text">Logout</div>
    </div>
  </div>
</div>
