.logo-container-small {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #89cdbe;
  height: 10vh;
  width: 100vw;
  position: relative;
}

.logo {
  width: 20%; /* Adjust the percentage as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 150px; /* Ensure the image does not grow too large */
  border-radius: 50%;
  margin-left: 20px;
}
