.container {
  height: 100%;
  background-color: #d2e1dd;
  overflow: auto;
}

.last-scans-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d2e1dd;
  height: 90vh;
  width: 100vw;
}

.last-scans-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 20%;
  min-height: 20%;
  max-width: 400px;
  margin: 10px;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  padding: 5px;
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 5px;
}

.column3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100%;
  padding: 5px;
}

.text-title {
  color: #010144;
  margin-top: 5px;
  text-align: center;
  font-size: x-large;
}

.text-info {
  color: #010144;
  margin-top: 5px;
  text-align: center;
  font-size: medium;
  font-weight: 450;
}

.text-color {
  color: #010144;
  margin-top: 5px;
  text-align: center;
  font-size: medium;
  font-weight: 450;
}

.text-timestamp {
  color: #010144;
  margin-top: 5px;
  text-align: center;
  font-size: medium;
  font-weight: 450;
}

.icon {
  width: 100%;
  height: auto;
  max-width: 80%;
}

.delete-button {
  margin: 10px;
  width: 80%;
  height: auto;
  max-width: 150px;
}

.pagination-controls {
  padding: 10px;
  display: flex;
}

.text {
  color: #010144;
  margin-top: 10px;
  text-align: center;
  font-size: medium;
  font-weight: 450;
  padding: 10px;
}

.btn {
  background-color: #010144;
  border-color: #010144;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: 70px;
  text-align: center;
}

.btn:disabled {
  background-color: #cccccc; /* Gray background color */
  border-color: #cccccc; /* Gray border color */
  color: #666666; /* Gray text color */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}
